# Исключить виртуальное окружение
venv/

# Исключить файлы настроек IDE
.idea/
.vscode/

# Исключить файлы базы данных
*.db
*.sqlite3

# Исключить файлы логов
*.log

# Исключить файлы скрытых настроек
.DS_Store

# Исключить файлы с результатами тестов
__pycache__/
*.pyc
*.pyo
*.pyd

# Исключить файлы с результатами сборки
dist/
build/
*.egg-info/